<div id="top" class="row" ng-controller="contactsController">
    <div class="row" ng-show="!singlecontactselected">
        <!--Begin search bar row-->
        <div class="row">
            <form>
                <div class="col s4 offset-s3">
                    <input type="text" ng-model="txtsearch" />
                </div>
                <div class="col s5">
                    <button type="submit" name="action" class="waves-effect waves-light btn"
                            style="background-color:#2386AE"
                            ng-click="FilterContacts()">
                        <i class="mdi-action-search right"></i>Search
                    </button>
                    <a class="waves-effect waves-light btn" style="background-color:#2386AE" ng-click="ResetContacts()">Reset</a>
                </div>
            </form>
        </div>
        <!--End search bar row-->
        <!--Begin list of contacts section-->
        <div class="row">
            <div class="col s8 offset-s3">
                <div class="card-panel">
                    <div class="collection" ng-repeat="(key, value) in contactdata" ng-click="LoadSingleContact(value.userid)">
                        <a href="" class="collection-item" style="color:#2386AE">{{value.name}}</a>
                    </div>
                </div>
            </div>
        </div>
        <!--End list of contacts section-->
    </div>
    <!--Begin single contact info section-->
    <div class="row" ng-show="singlecontactselected">
        <div class="col s8 offset-s3">
            <div class="row">
                <div class="col s12">
                    <div class="center-align">
                        <a class="waves-effect waves-light btn" style="background-color:#2386AE" ng-click="ShowContactList()"><i class="mdi-navigation-close right"></i>Close</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card-panel">
                    <!--Begin name, department, position section-->
                    <div class="section">
                        <div class="row">
                            <div class="col s12">
                                <div class="row">
                                    <div class="col s12">
                                        {{scname}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        {{scdept}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        {{scposition}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End name, department, position section-->
                    <!--Begin email work office section-->
                    <div class="section">
                        <div class="row">
                            <div class="col s12">
                                <div class="row">
                                    <div class="col s12">
                                        <h5>Email</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        {{scemail}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <h5>Work</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        {{scphone}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <h5>Office</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        {{scofficelocation}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End email work office section-->
                    <div class="section">
                        <div class="row">
                            <div class="col s12">
                                <h5>Hours</h5>
                            </div>
                        </div>
                        <!--Monday-->
                        <div class="row">
                            <div class="col s5">
                                Mon
                            </div>
                            <div class="col s7">
                                {{scmon}}
                            </div>
                        </div>
                        <!--Tuesday-->
                        <div class="row">
                            <div class="col s5">
                                Tue
                            </div>
                            <div class="col s7">
                                {{sctue}}
                            </div>
                        </div>
                        <!--Wednesday-->
                        <div class="row">
                            <div class="col s5">
                                Wed
                            </div>
                            <div class="col s7">
                                {{scwed}}
                            </div>
                        </div>
                        <!--Thursday-->
                        <div class="row">
                            <div class="col s5">
                                Thu
                            </div>
                            <div class="col s7">
                                {{scthu}}
                            </div>
                        </div>
                        <!--Friday-->
                        <div class="row">
                            <div class="col s5">
                                Fri
                            </div>
                            <div class="col s7">
                                {{scfri}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--End single contact info section-->
</div>