<!DOCTYPE html>
<html ng-app="myApp" ng-controller="AppCtrl" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>{{pageTitle}} | BCIT Blurb Board</title>

    <!--Icons-->
    <link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/icons/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/icons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/icons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/icons/manifest.json">
    <link rel="shortcut icon" href="/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#2fb4e9">
    <meta name="msapplication-TileImage" content="/icons/mstile-144x144.png">
    <meta name="msapplication-config" content="/icons/browserconfig.xml">
    <meta name="theme-color" content="#2fb4e9">

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="Content/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="Content/Site.css">
    <link rel="stylesheet" type="text/css" href="Content/animations.css" />

    <!--Javascript-->
    <script src="Scripts/jquery-2.1.3.min.js"></script>
    <script src="Scripts/materialize.min.js"></script>
    <script src="Scripts/init.js"></script>

</head>

<body>
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper">
            <div class="row">
                <div class="col m1 l1"><span>&nbsp;</span></div>
                <div class="col s12 m10 l10">
                    <!--Logo-->
                    <a href="/#/newsfeed" class="brand-logo">BCIT Blurb Board</a>
                    <!--Search-->
                    <!--<ul class="right hide-on-med-and-down">
                        <li class="input-field">
                            <input id="search" type="text" required>
                            <label for="search"><i class="mdi-action-search"></i></label>
                        </li>
                    </ul>-->
                    <!--Tablet and Desktop nav-->
                    <ul class="right hide-on-med-and-down">
                        <span ng-show="displayLoggedInOptions">
                            <li><a href="/#/newsfeed"><i class="mdi-action-assignment"></i></a></li>
                            <li><a href="/#/newarticle"><i class="mdi-editor-mode-edit"></i></a></li>
                            <li><a href="#/contacts"><i class="mdi-social-group"></i></a></li>
                        </span>
                        <li><a href="#!" ng-click="logout()"><i class="mdi-action-exit-to-app"></i></a></li>
                    </ul>
                    <!--Mobile nav-->
                    <ul id="slide-out" class="side-nav">
                        <span ng-show="displayLoggedInOptions">
                            <li><a href="/#/newsfeed">Newsfeed</a></li>
                            <li><a href="/#/newarticle">New Article</a></li>
                            <li><a href="#/contacts">Contacts</a></li>
                        </span>
                        <li><a href="#!" ng-click="logout()">Logout</a></li>
                    </ul>
                    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                </div>
                <div class="col m1 l1"><span>&nbsp;</span></div>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="section">
            <div class="row">
                <div ng-view></div>
            </div>
        </div>
        <br><br>
        <div class="section">
        </div>
    </div>

</body>

</html>

<!-- Dependencies -->
<script src="Scripts/jquery.signalR-2.2.0.js"></script>
<script src="Scripts/angular.min.js"></script>
<script src="Scripts/angular-route.min.js"></script>
<script src="Scripts/angular-cookies.js"></script>
<script src="Scripts/angular-animate.min.js"></script>

<!-- Routing -->
<script src="routes.js"></script>

<!-- Controllers -->
<script src="contacts/contactsController.js"></script>
<script src="login/loginController.js"></script>
<script src="mycourses/mycoursesController.js"></script>
<script src="newsfeed/newsfeedController.js"></script>
<script src="article/articleController.js"></script>
<script src="newarticle/newarticleController.js"></script>