.card {
   }
  .card .card-title {
        color: #FFF;
        font-size: 24px;
        font-weight: 300; }
  .card .card-subtitle {
        color: #7f8c8d;
        font-size: 12px;
        font-weight: 200; }

  .card.profile {
        height: auto; }
    .card.profile.card-title {
        
    }
    .card.profile .card-subtitle {
        color: #FFF;
        font-size: 14px;
        font-weight: 300;
    }
    .card.profile .card-image {
        height: 150px; }
    .card.profile .card-image .card-title {
        position: absolute;
        bottom: 0;
        left: 0;
        padding-bottom: 50px; }
    .card.profile .card-image .card-subtitle {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 20px;
        padding-bottom: 10px;
    }
    .card.profile .card-content {
        height: auto; }

.collection {
  border: none; }
  .collection .collection-item {
    border-bottom: none; }
  .collection.with-header .collection-header {
    border-bottom: none;}


     #expiryRow {
      display: none;
  }

  #newarticleform.card.small {
      height: 100%;
  }

  #newarticleform.card.small .card-content {
      height: 100%;
      margin-bottom: 30px;
  }

/* -- form customization -- */

  /* label color */
   .input-field label {
     color: #2386AE;
       font-size: 0.8em;
   }
   /* label focus color */
   .input-field input[type=email]:focus + label {
     color: #2386AE;
   }
   /* label underline focus color */
   .input-field input[type=email]:focus {
     border-bottom: 1px solid #2386AE;
     box-shadow: 0 1px 0 0 #2386AE;
   }

     /* label focus color */
   .input-field input[type=password]:focus + label {
     color: #2386AE;
   }
   /* label underline focus color */
   .input-field input[type=password]:focus {
     border-bottom: 1px solid #2386AE;
     box-shadow: 0 1px 0 0 #2386AE;
   }

   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #2386AE;
   }

   #recipientRow .input-field {
       margin-top: 2rem;
   }

   #recipientRow .input-field label {
       top: -20px;
   }

   #recipientRow select {
       display: block;
   }