.card {
   }
  .card .card-title {
        color: #FFF;
        font-size: 24px;
        font-weight: 300; }
  .card .card-subtitle {
        color: #7f8c8d;
        font-size: 12px;
        font-weight: 200; }

  .card.profile {
        height: auto; }
    .card.profile.card-title {
        
    }
    .card.profile .card-subtitle {
        color: #FFF;
        font-size: 14px;
        font-weight: 300;
    }
    .card.profile .card-image {
        height: 150px; }
    .card.profile .card-image .card-title {
        position: absolute;
        bottom: 0;
        left: 0;
        padding-bottom: 50px; }
    .card.profile .card-image .card-subtitle {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 20px;
        padding-bottom: 10px;
    }
    .card.profile .card-content {
        height: auto; }

.collection {
  border: none; }
  .collection .collection-item {
    border-bottom: none; }
  .collection.with-header .collection-header {
    border-bottom: none;}
