<div id="top" class="row" ng-controller="articleController">
    <div class="col s12">
        <!--Article Info section-->
        <div class="section">
            <div class="row">
                <div class="col s12">
                    <button class="btn waves-effect waves-light" style="background-color:#2386AE" ng-click="NavigateBack()">
                        BACK
                        <i class="mdi-navigation-chevron-left left"></i>
                    </button>
                </div>
            </div>
            <div class="card-panel">
                <div class="row">
                    <div class="col s12">
                        <h4 class="center-align">{{articletitle}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <!--Article text row-->
                        <div class="row">
                            <div class="col s12">
                                <p class="flow-text">{{articletext}}</p>
                            </div>
                        </div>
                        <!--Article metadata row-->
                        <div class="row">
                            <div class="col s7">
                                {{articleauthor}}
                            </div>
                            <div class="col s5 right-align">
                                {{articledate}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Post new comments section-->
        <div class="section">
            <div class="card-panel">
                <div class="row">
                    <div class="col s12">
                        <h5>Reply:</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <textarea class="materialize-textarea"
                                  spellcheck="true"
                                  placeholder="Comment..."
                                  ng-model="newcommenttext"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 right-align">
                        <button class="btn waves-effect waves-light" style="background-color:#2386AE" ng-click="PostNewComment()">
                            POST
                            <i class="mdi-content-send right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--Comments section-->
        <div class="section">
            <div class="card-panel">
                <div class="row">
                    <div class="col s12">
                        <h5>Comments:</h5>
                    </div>
                </div>
                <!--Begin repeating for every comment-->
                <div class="row">
                    <div class="col s12" ng-repeat="(key,value) in comments" ng-class-even="'blue lighten-4'" ng-class-odd="'blue lighten-5'">
                        <div class="row">
                            <div class="col s12">
                                {{value.content}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s6">
                                {{value.name}}
                            </div>
                            <div class="col s6 right-align">
                                {{value.datetime}}
                            </div>
                        </div>
                    </div>
                </div>
                <!--End comment-->
            </div>
        </div>
        <div class="section">
            <div class="row">
                <div class="col s12 center-align">
                    <button class="btn waves-effect waves-light" style="background-color:#2386AE" ng-click="GoToTop()">
                        TOP
                        <i class="mdi-navigation-expand-less right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
   
